<h2 class="titre">
  Veuillez créer une question
</h2>
<h4>
  Quel est le type de la question à créer ?
</h4>
<div>
  <input type="radio" name="radioType" value="TRUE_FALSE" [(ngModel)]="typeQuestion"
         (ngModelChange)="getTypeQuestion()"/>Vrai-Faux
  <input type="radio" name="radioType" value="MULTIPLE" [(ngModel)]="typeQuestion" (ngModelChange)="getTypeQuestion()"/>Choix
  Multiples
  <input type="radio" name="radioType" value="OPEN" [(ngModel)]="typeQuestion" (ngModelChange)="getTypeQuestion()"/>Question
  Ouverte
</div>

<div *ngIf="typeQuestion === 'OPEN'">
  <input class="questionSaisie"
         placeholder="Entrez ici la question"
         [(ngModel)]="questionSaisie"
         (ngModelChange)="getSaisieQuestion()"/>
  <input class="reponseSaisie"
         placeholder="Entrez ici la réponse"
         [(ngModel)]="reponseSaisie"
         (ngModelChange)="getSaisieReponse()"/>
  <button class="valider"
          (click)="postAQuestionOpen()"
          >valider</button>
</div>

<div *ngIf="typeQuestion === 'TRUE_FALSE'">
  <input class="questionSaisie"
         placeholder="Entrez ici la question"
         [(ngModel)]="questionSaisie"
         (ngModelChange)="getSaisieQuestion()"
  />
  <select class=listeVf
          [(ngModel)]="reponseSaisie"
          (ngModelChange)="getSaisieReponse()"
          required>
    <option value=choix disabled selected><p>-- choix de la réponse --</p></option>
    <option value=vrai><p>Vrai</p></option>
    <option value=faux><p>Faux</p></option>
  </select>
  <button class="valider" (click)="postAQuestion()" >valider</button>
</div>

<div *ngIf="typeQuestion === 'MULTIPLE'">
  Question :
  <input class="questionSaisie"
         placeholder="Entrez ici la question"
         [(ngModel)]="questionSaisie"
         (ngModelChange)="getSaisieQuestion()"/>
  Bonne réponse :
  <input class="reponseSaisie"
         placeholder="Entrez ici la BONNE réponse"
         [(ngModel)]="reponseSaisie"
         (ngModelChange)="getSaisieReponse()"/>
  Mauvaise réponse 1 :
  <input class="reponseSaisie1"
         placeholder="Entrez ici une MAUVAISE réponse"
         [(ngModel)]="suggestionsSaisie1"
         (ngModelChange)="getSaisieSuggestions()"/>
  Mauvaise réponse 2 :
  <input class="reponseSaisie2"
         placeholder="Entrez ici une MAUVAISE réponse"
         [(ngModel)]="suggestionsSaisie2"
         (ngModelChange)="getSaisieSuggestions()"/>
  Mauvaise réponse 3 :
  <input class="reponseSaisie3"
         placeholder="Entrez ici une MAUVAISE réponse"
         [(ngModel)]="suggestionsSaisie3"
         (ngModelChange)="getSaisieSuggestions()">

  <button class="valider" (click)="postAQuestionMultiple()">valider</button>
</div>

