
<nav>
  <a class="colorLinks" routerLink="/afficher" routerLinkActive="active">afficher les questions</a>
  <a class="colorLinks" routerLink="/creer" routerLinkActive="active" >créer des questions</a>
</nav>

<h1>questionnaire</h1>


<router-outlet></router-outlet>
