<div class="question">
  {{question.enonce}}

  <div
    *ngIf="question.type === 'OPEN'">
    <input
      class="reponse"
      value="saisir la réponse"
      [(ngModel)]="reponseSaisie"
      (keydown.enter)="enregistrer()"/>
    <button
      class="valider"
      (click)="enregistrer()">
      valider la réponse
    </button>
  </div>

  <div
    *ngIf="question.type === 'TRUE_FALSE'">
    <button
      class="true"
      value="true"
      (click)="trueFalse(true)"
    >
      vrai
    </button>
    <button
      class="faux"
      value="false"
      (click)="trueFalse(false)">
      faux
    </button>
  </div>

  <div
    *ngIf="question.type === 'MULTIPLE'">
    <div *ngFor="let reponseMultiple of question.suggestions">
      <input
        type="radio"
        name="radioQuestion"
        value="{{reponseMultiple}}"
        [(ngModel)]="reponseSaisie"
        (ngModelChange)="enregistrer()"/>
      {{reponseMultiple}}
    </div>
  </div>

</div>
<div
  [ngStyle]="{'background-color': isAnswerCorrect ? 'green' : 'red' }">
  {{isAnswerCorrect}}
</div>

